@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');



h1,
h2,
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

p,
a {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

html {
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f2;
    min-height: 100vh;
    transition: background 0.2s linear;
}

.navbar {
    background-color: #6272a4;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
}

.icon {
    display: block;
    margin-left: 20px;
    max-width: 100%;
    height: auto;
    position: relative;
}

.nav-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-item {
    position: relative;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

.nav-item svg {
    transition: transform 0.3s ease;
}

.nav-text {
    color: white;
    margin-top: 20px;
    opacity: 0;
    font-weight: bold;
    transition: opacity 0.3s ease;
    white-space: nowrap;
    pointer-events: none;
    visibility: hidden;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.nav-item:hover .nav-text {
    opacity: 1;
    visibility: visible;
    background: transparent;
}

.nav-item:hover svg {
    transform: scale(1.2);
}

body.dark {
    background-color: #292c35;
}

body.dark nav {
    background-color: #44475a;
}

body.dark .row .column article,
body.dark .row .column article {
    color: #fff !important;
}

body.dark .desc {
    background-color: #44475a;
    color: #fff;
}

body.dark #gallery-photo h1 {
    color: #fff;
}

body.dark footer {
    background-color: #44475a;
}

.svg-container svg:nth-child(1) {
    display: block;
}

.svg-container svg:nth-child(2) {
    display: none;
}

body.dark .svg-container svg:nth-child(1) {
    display: none;
}

body.dark .svg-container svg:nth-child(2) {
    display: block;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-moon {
    color: #f1c40f;
}

.fa-sun {
    color: #f39c12;
}

.checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

.hamburger-icon {
    display: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.slide-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
    text-align: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 90vh;
    object-fit: cover;
}

main {
    margin-top: 50px;
}

.row {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.column {
    flex: 0 0 50%;
    max-width: 80%;
    max-height: 20%;
    padding: 15px;
    text-align: center;
}

.column img {
    max-width: 100%;
    height: auto;
}

.column-50 {
    flex: 0 0 100%;
    max-width: 60%;
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.text {
    margin: 0;
    padding: 0;
    text-align: center;
}

.row-foto {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}

.column-foto {
    flex: 1 1 0;
    max-width: 50%;
    padding: 15px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.title {
    text-align: center;
    margin-bottom: 50px;
}

.desc {
    background-color: #EEEDEB;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0;
}

.photo {
    border-bottom-color: #ffe;
    border-left-color: #eed;
    border-right-color: #eed;
    border-top-color: #ccb;
}

.frame {
    background-color: #ddc;
    border: solid 5vmin #eee;
    border-bottom-color: #fff;
    border-left-color: #eee;
    border-radius: 2px;
    border-right-color: #eee;
    border-top-color: #ddd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .25) inset, 0 5px 10px 5px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    display: inline-block;
    height: 45vh;
    padding: 4vmin;
    position: relative;
    text-align: center;

    &:before {
        border-radius: 2px;
        bottom: -2vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25) inset;
        content: "";
        left: -2vmin;
        position: absolute;
        right: -2vmin;
        top: -2vmin;
    }

    &:after {
        border-radius: 2px;
        bottom: -2.5vmin;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25);
        content: "";
        left: -2.5vmin;
        position: absolute;
        right: -2.5vmin;
        top: -2.5vmin;
    }
}

.parallax {
    height: 80vh;
    background-image: url('assets/parallax_img.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #fff;
    padding: 50px;
}

.custom-slider-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-slides-wrapper {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%;
}

.custom-slide {
    min-width: 50%;
    box-sizing: border-box;
    padding: 20px;
}

.custom-prev,
.custom-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: white;
    padding: 10px;
    cursor: pointer;
    border: none;
    font-size: 18px;
    z-index: 10;
    display: none;
}

.custom-prev {
    left: 5px;
}

.custom-next {
    right: 5px;
}

.frosted-glass {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px 40px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    color: white;
    margin-top: 20px;
}


.profile-card {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    max-width: 90%;
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-quote {
    margin-top: 15px;
    font-style: italic;
    font-size: 1.1rem;
    color: #333;
}

.mySwiperCards {
    width: 240px;
    height: 320px;
}

.mySwiperCards .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.mySwiperCards .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
}

.mySwiperCards .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
}

footer {
    background-color: #6272a4;
    color: #fff;
    font-size: 16px;
    margin-top: -10px;
    text-align: center;
    padding: 0;
    overflow: hidden;
    font-family: "Nunito Sans", sans-serif;
}

footer * {
    box-sizing: border-box;
    border: none;
    outline: none;
}

.row-footer {
    padding: 1em 1em;
}

.row-footer.primary {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.column-footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
    align-items: center;
}

.links h3 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
}

.links ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
}

.links li:not(:first-child) {
    margin-top: 0.8em;
}

.links ul li a {
    color: #fff;
    text-decoration: none;
}

.links ul li a:hover {
    color: black;
}

body.dark .links ul li a:hover {
    color: #ff79c6;
}

.about p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    line-height: 2;
}

div.social {
    display: flex;
    justify-content: center;
    font-size: 2.4em;
    flex-direction: row;
    margin-top: 0.5em;
}

.social a {
    text-decoration: none;
    margin: 0 0.3em;
    color: #ffffff;
}

.social a i {
    transition: transform 0.3s ease, color 0.3s ease;
}

.copyright {
    padding: 0.3em 1em;
    margin: 0;
    border: none;
}

.copyright p {
    font-size: 0.9em;
    text-align: center;
    margin: 0;
}

@media screen and (max-width: 768px) {

    .navbar {
        flex-direction: column;
        position: relative;
        overflow: visible;
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        align-items: flex-start;
        position: absolute;
        top: 50px;
        padding-left: 20px;
    }

    .navbar.responsive .nav-menu {
        display: flex;
        background-color: #6272a4;
    }

    body.dark .navbar.responsive .nav-menu {
        background-color: #44475a;
    }

    .nav-menu li {
        padding: 15px;
        width: 95%;
        border-bottom: 1px solid #fff;
    }

    .nav-menu li a {
        color: white;
        text-decoration: none;
        display: flex;
        align-items: flex-start;
        width: 100%;
        padding: 10px;
    }

    .nav-item {
        display: flex;
        align-items: left;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 10px;/
    }

    .nav-item a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
    }

    .nav-text {
        color: white;
        font-weight: bold;
        opacity: 1;
        white-space: nowrap;
        pointer-events: none;
        visibility: visible;
        left: 100px;
        top: 10px;
    }

    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .desc {
        padding: 10px;
        font-size: 0.9rem;
    }

    .gallery {
        height: auto;
        flex-direction: column;
    }

    .icon {
        position: absolute;
        left: 20px;
        top: 15px;
    }

    .hamburger-icon {
        display: block;
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 20px;
        font-size: 24px;
    }

    .hamburger-icon .fa-bars {
        color: white;
        font-size: 22px;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 93vh;
        object-fit: cover;
    }

    .frame {
        height: 30vh;
        padding: 0.4vmin;
    }

    .frame img {
        width: 70%;
        padding-top: 20px;
    }

    .custom-prev,
    .custom-next {
        display: block;
    }

    .custom-slides-wrapper {
        flex-direction: row;
    }

    .custom-slide {
        min-width: 100%;
        max-width: 100%;
    }

    .profile-card {
        max-width: 100%;
    }

    .profile-image img {
        width: 100px;
        height: 100px;
    }

    .column-50 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .row-foto {
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .column-foto {
        max-width: 50%;
    }

    .mySwiperCards {
        width: 120px;
        height: 160px;
        margin-bottom: 20px;
    }

    .row-footer.primary {
        grid-template-columns: 1fr;
    }

}